<div class="index-page">
  <!-- Navbar -->

  <nav class="nav">
    <div class="contentNav" *ngIf="!divOculto">
      <div class="divLogo">
        <img src="../../../assets/img/logo/logo.png" alt="" />
      </div>
      <div class="itemsNav">
        <a>
          <i class="fab fa-twitter"></i>
        </a>
        <a>
          <i class="fab fa-facebook-square"></i>
        </a>
        <a>
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <div class="btnHamburguesa">
        <a (click)="toggleDiv()">
          <i class="fa-solid fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="divHamb" *ngIf="divOculto">
      <div class="itemsNavHamb">
        <a>
          <i class="fab fa-twitter"></i>
        </a>
        <a>
          <i class="fab fa-facebook-square"></i>
        </a>
        <a>
          <i class="fab fa-instagram"></i>
        </a>
        <a (click)="toggleDiv()">
          <i class="fa-solid fa-x my-3"></i>
        </a>
      </div>
    </div>
  </nav>

  <!-- End Navbar -->
  <div class="wrapper">
    <div class="page-header header-filter">
      <div class="squares square1"></div>
      <div class="squares square2"></div>
      <div class="squares square3"></div>
      <div class="squares square4"></div>
      <div class="squares square5"></div>
      <div class="squares square6"></div>
      <div class="squares square7"></div>
      <div class="squares square8"></div>
      <div class="squares square9"></div>
      <div class="container">
        <div class="content-center brand">
          <h1 class="h1-seo">MEBKA TECH •</h1>
          <h3>
            Innovación con visión, donde las ideas se convierten en soluciones
            tecnológicas.
          </h3>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="section1 section-basic" id="basic-elements">
        <img src="assets/img/path1L.png" class="path1L" />
        <img src="assets/img/path1R.png" class="path1R" />
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 p-4 p-lg-0 mb-5 mb-lg-0 textAbout">
              <h1 class="text-white font-weight-light">Lorem lorem</h1>
              <p class="text-white mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
              </p>
              <a class="btn btn-warning mt-4">Lorem lorem</a>
            </div>
            <div class="col-lg-6 p-4 p-lg-0">
              <div class="aboutImg">
                <img
                  class="d-block"
                  src="assets/img/denys.jpg"
                  alt="First slide"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section2 section-basic" id="basic-elements">
        <img src="assets/img/path2L.png" class="path2L" />
        <img src="assets/img/path2R.png" class="path2R" />
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 p-4 p-lg-0 mb-5 mb-lg-0 textAbout">
              <h1 class="text-white font-weight-light">Lorem lorem</h1>
              <p class="text-white mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                voluptatibus, quisquam veniam nulla fugiat itaque repudiandae
                illo? Nostrum, quam voluptas dignissimos numquam assumenda
                voluptatum illum animi beatae. Ut, eius sed!
              </p>
              <a class="btn btn-warning mt-4">Lorem lorem</a>
            </div>
            <div class="col-lg-6 p-4 p-lg-0">
              <div class="aboutImg">
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
