@keyframes move-left-right {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes move-right-left {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */

.nav .contentNav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.nav .divHamb{
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: #e14eca;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .divHamb .itemsNavHamb{
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.nav .divHamb .itemsNavHamb a i{
    padding: 0.5em 0;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.nav .contentNav .divLogo {
  padding: 0.25em 5em;
}

.nav .contentNav .itemsNav {
  padding: 0.25em 5em;
  
  float: right;
}

.nav .contentNav .itemsNav a {
  margin: 0 0.5em;
}
.nav .contentNav .itemsNav a i {
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}

.nav .contentNav .divLogo img {
  width: 10em;
}

.nav .contentNav .btnHamburguesa{
    display: none;
}

.nav .contentNav .btnHamburguesa a i{
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.scrolled {
  background-color: #333;
}

/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */

.index-page {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  background-color: #171941;
  background-image: radial-gradient(circle, #0e0e0e 2px, transparent 2px);
  background-size: 30px 30px;
}

.index-page .page-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  position: relative;
  /* background-color: #0e0e0e; */
  padding: 0 10vw;
}

.index-page .page-header .container .content-center.brand .h1-seo,
.index-page .page-header .container .content-center.brand h3 {
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
  z-index: 1;
}

.index-page .page-header .category-absolute {
  position: absolute;
  top: 100vh;
  margin-top: -60px;
  padding: 0 15px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
}

.index-page .squares {
  animation: move-left-right 12s infinite;
  background: #ba54f5;
  background: -webkit-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: -o-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: -moz-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  position: absolute;
  transition: 0.5s ease-out;
  overflow: hidden;
  border-radius: 15%;
}

.index-page .squares.square1 {
  animation: move-left-right 12s infinite;
  height: 23vw;
  width: 23vw;
  opacity: 0.3;
  left: 25%;
  top: 40%;
  z-index: 0;
}

.index-page .squares.square2 {
  animation: move-right-left 12s infinite;
  height: 10vw;
  width: 10vw;
  opacity: 0.1;
  left: 20%;
  bottom: 5%;
}

.index-page .squares.square3 {
  animation: move-left-right 12s infinite;
  height: 20vw;
  width: 20vw;
  opacity: 0.1;
  left: 40%;
  top: 20%;
}

.index-page .squares.square4 {
  animation: move-right-left 12s infinite;
  height: 18vw;
  width: 18vw;
  opacity: 0.7;
  right: 1%;
  top: 29%;
}

.index-page .squares.square5 {
  animation: move-left-right 12s infinite;
  height: 8vw;
  width: 8vw;
  opacity: 0.1;
  left: 2%;
  bottom: 55%;
}

.index-page .squares.square6 {
  animation: move-right-left 12s infinite;
  left: 5%;
  top: 10%;
  height: 15vw;
  width: 15vw;
  opacity: 0.8;
}

.index-page .squares.square7 {
  animation: move-left-right 12s infinite;
  width: 20vw;
  height: 20vw;
  right: 10%;
  bottom: 45%;
  opacity: 0.1;
}
.index-page .squares.square8 {
  animation: move-left-right 12s infinite;
  width: 13vw;
  height: 13vw;
  right: 10%;
  bottom: 15%;
  opacity: 0.1;
}
.index-page .squares.square9 {
  animation: move-left-right 12s infinite;
  width: 9vw;
  height: 9vw;
  right: 5%;
  bottom: 5%;
  opacity: 0.1;
}

.oculto {
    display: none;
}


/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */









.path1L {
  position: absolute;
  opacity: 0.02;
  width: 40%;
  height: 70%;
  right: 0;
}

.path1R {
  position: absolute;
  opacity: 0.02;
  width: 40%;
  height: 70%;
  left: 0;
  margin-top: 5%;
}

.path2L {
  position: absolute;
  opacity: 0.02;
  width: 40%;
  height: 50%;
  right: 0;
  margin-top: 10%;
}

.path2R {
  position: absolute;
  opacity: 0.02;
  width: 40%;
  height: 70%;
  left: 0;
}

.path3R {
  position: absolute;
  opacity: 0.02;
  margin-bottom: 10%;
  width: 70%;
  height: 60%;
  left: 0;
}

.path5 {
  position: absolute;
  opacity: 0.02;
  width: 70%;
  height: 60%;
  right: 0;
}

.section1{
  padding-bottom: 5em;
}

.section1 .container{
  width: 100%;
  height: 50em;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 .container .textAbout a{
  background-color: #e14eca;
  border-color: #e14eca;
  color: white;
}

.section1 .container .aboutImg{
  display: flex;
  justify-content: center;
  align-items: center;

}

.section1 .container .aboutImg img{
  width: 80%;
  border-radius: 1em;
  box-shadow: 20px 20px 10px 0px #00000070;
}



.section2 {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.section3 {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.section3 .container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20% 0;
  color: rgb(243, 243, 243);
}

.section4 {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 200px;
}

.section4 .container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(243, 243, 243);
}


.section2 .divRigthSectTwo{
  color: white;
}


.card-stat {
  margin-bottom: 0;
  background-color: #ba54f5;
}

.card-stat .card-body:hover {
  background-color: #e14eca;
  border-radius: 1em;
  width: 100%;
  height: 13vh;
  z-index: 1;
}

.card-stat .card-body .numbers {
  text-align: right;
  font-size: 2em;
}

.card-stat .card-body .numbers .card-title {
  color: rgb(230, 230, 230);
  font-weight: 700;
}

.card-stat .card-body .numbers p {
  margin-bottom: 0;
}

.card-stat .card-body .numbers .card-category {
  color: #9A9A9A;
  font-size: 16px;
  line-height: 1.4em;
}

.card-stat .card-footer {
  padding: 0px 15px 15px;
}

.card-stat .card-footer .stats {
  color: #9A9A9A;
}

.card-stat .card-footer hr {
  margin-top: 10px;
  margin-bottom: 15px;
}

.card-stat .icon-big {
  font-size: 3em;
  min-height: 64px;
}

.card-stat .icon-big i {
  line-height: 59px;
}


.card-stat {
  margin-bottom: 0;
}

.card {
  background: #1f2251;
  border: 0;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}

.info {
  max-width: 360px;
  margin: 0 auto;
  padding: 70px 0 30px;
}

.info .icon>i {
  font-size: 2.0625rem;
}

.info .info-title {
  color: #ffffff;
  margin: 1.75rem 0 0.875rem;
}

.info p {
  color: rgba(222, 222, 222, 0.8);
  line-height: 24px;
}

hr {
  width: 20%;
  height: 5px;
  border-radius: 3px;
  margin-left: 0;
  border-color: transparent;
}

hr.line-primary {
  background-color: #e14eca;
}

hr.line-info {
  background-color: #1d8cf8;
}

hr.line-success {
  background-color: #00f2c3;
}

hr.line-warning {
  background-color: #ff8d72;
}

hr.line-danger {
  background-color: #fd5d93;
}

hr.line-deafult {
  background-color: #344675;
}

.icon.icon-primary {
  color: #e14eca;
}

.icon.icon-info {
  color: #1d8cf8;
}

.icon.icon-success {
  color: #00f2c3;
}

.icon.icon-warning {
  color: #ff8d72;
}

.icon.icon-danger {
  color: #fd5d93;
}


.section-safe .icon i {
  font-size: 21px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}


/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */



.footer {
  padding: 50px 0;
  border-top: 2px solid #435DB5;
  background: radial-gradient(ellipse at bottom, #292D61 30%, #171941 80%);
}

.footer [class*="container-"] {
  padding: 0;
}

.footer .nav {
  display: block;
  float: left;
  margin-bottom: 0;
  padding-top: 25px;
  list-style: none;
}

.footer .nav-item {
  display: block;
}

.footer .nav-link {
  color: #ffffff;
  padding: 10px 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-decoration: none;
}

.footer .nav-link:hover {
  text-decoration: none;
}

.footer .title {
  text-align: left !important;
}

.footer .copyright {
  font-size: 0.75rem;
  line-height: 1.8;
  color: #ffffff;
}

.footer:after {
  display: table;
  clear: both;
  content: " ";
}














/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */


@media screen and (max-width: 992px) {
  .footer .copyright {
    float: right;
    padding-right: 30px;
  }
  .section3 {
    width: 100%;
    height: 130vh;
  }
}


@media screen and (max-width: 768px) {
    .nav .contentNav {
        justify-content: space-around;
    }

    .nav .contentNav .divLogo {
        padding: 0.25em 0em;
    }
    
    .itemsNav{
        display: none;
    }

    .btnHamburguesa{
        display: block !important;
    }

    .path1L {
      width: 50%;
      height: 40%;
      right: 0;
    }
    
    .path1R {
      width: 55%;
      height: 45%;
      left: 0;
      margin-top: 40%;
    }

    .footer nav {
      display: block;
      margin-bottom: 5px;
      float: none;
    }
}

@media screen and (max-width: 576px) {
  .footer {
    text-align: center;
  }
  .footer .copyright {
    text-align: center;
  }
  .footer .nav {
    float: none;
    padding-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .path1L {
    width: 50%;
    height: 40%;
    right: 0;
  }
  
  .path1R {
    width: 50%;
    height: 40%;
    left: 0;
    margin-top: 80%;
  }

  .section2 {
    width: 100%;
    height: 100vh;
  }

  .card-stat .card-body:hover {
    width: 100%;
    height: 13vh;
    z-index: 1;
  }

  .section3 {
    width: 100%;
    height: 140vh;
  }

  .section4 {
    width: 100%;
    height: 100vh;
  }
}